[2017-11-08 10:42] LostKobrakai opened #1 "Unexpected return value of Cldr.Unit.to_string"
Using v0.4.2 I get the following unexpected function call result:

[code]
This doesn't seem like a desirable way of reporting an error besides the fact that "de" should be known.

[2017-11-08 11:48] LostKobrakai commented on #1
Probably because `pattern_for` does return error tuples, but `verify_unit()` does only check for boolean true.

[2017-11-08 11:49] kipcole9 commented on #1
Hmmmm.  I'm not seeing the error.  Anything else you can suggest to help me pin it down?
[code]

You have helped me (a) fix a messed up doctest and (b) identify a bug in `Cldr.validate_locale/1` for locale names like `en-XX` where `XX` is not a valid territory.

[2017-11-08 11:50] kipcole9 commented on #1
Ahhh, can reproduce - poor handling of invalid unit types (what you said above).  Fixing now.

[2017-11-08 13:01] #1 closed, assigned to nobody

[2017-11-18 16:58] LostKobrakai opened #3 "v0.4.4 not published on hex"
Title says all.

[2017-11-18 22:17] kipcole9 commented on #3
Pushed to hex.

[2017-11-18 22:17] #3 closed, assigned to nobody

[2017-12-16 21:14] kipcole9 opened #4 "Unit reductions"
For a given unit, for example "5,280 feet" or "1,000 metres"  it is often appropriate and expected to reduce the unit to a more commonly used version such as "1 mile" or "1 kilometre". This note explores an approach to implementation of unit reductions using Cldr data.

### Measurement systems

In our example it would be expected that "feet" would be reduced using the "imperial" or "US" systems wh

[2017-12-16 23:10] LostKobrakai commented on #4
I really like the idea for converting to a different measurement system. This would certainly be a nice feature for internationalization. A mapping of system -> unit shouldn't be a difficult thing to add I'd imagine.

The automatic reduction I feel tries to be to automatic:
E.g. I might want to reduce 300mm, but at least here in Germany it's uncommon to use decimeter so "30 cm" is actually better

[2017-12-16 23:55] kipcole9 commented on #4
Thanks for the very helpful comments which, as usual, make a lot of sense.

You say:

Can you give me an example of what the api might look like (agree, `reduce` might not be such a good idea.  `Decimal.reduce` uses it, but its context is less ambiguous.

In release 1.0 there is `Cldr.Unit.convert/2` which allows conversion so you can already:

[code]
But you suggest a list of alternatives which I

[2017-12-17 08:01] LostKobrakai commented on #4
[code]

With such a base api cldr units could also add "often used" lists of units. E.g. `:byte..terabyte` will probably be the most used digital unit range. Also the smallest unit in the list would always be chosen (even for `0.…` values), while later units would be `value < 1`, but I'm really not sure what would be the best way to threshold the switching to the next bigger unit. That would proba

[2018-01-10 09:29] LostKobrakai opened #5 "Cldr.Unit.convert documentation"
The documentation for `Cldr.Unit.convert` does show `convert(unit_1, unit_2)`, which should propably be `convert(unit, to_unit)` like in the linked documentation of `Cldr.Unit.Conversion`.

[2018-01-10 09:32] LostKobrakai opened #6 "API to get the value of a Cldr.Unit struct"
I'm using Cldr.Unit not only because of it's formatting capabilities, but also as general purpose unit type within my system. So in some places it might be nice to have an API method for getting back the value of the struct as well.

[2018-01-10 13:44] kipcole9 commented on #6
@LostKobrakai Thanks as always for the constructive feedback.  And I've not forgotten our previous conversation and your request either.  I'll be able to make a proposal for this issue over the weekend.  Is that timing acceptable to you?

[2018-01-10 13:45] kipcole9 commented on #5
Good feedback, thank you.  I will fix it over the weekend.

[2018-01-10 13:48] LostKobrakai commented on #6
Sure I've simply gone with `stuct.value` for now.

[2018-01-11 20:36] #5 closed, assigned to nobody

[2018-01-11 21:03] #6 closed, assigned to nobody

[2018-01-11 21:10] kipcole9 commented on #5
Fixed and pubished v1.1.0 on hex.

[2018-01-11 21:11] kipcole9 commented on #6
Added `Cldr.Unit.value/1` and published in hex 1.1.0.

[2018-05-08 10:15] LostKobrakai opened #7 "Singular / Plural form of units"
It seems like `Cldr.Unit.to_string` is always returning the plural form of the units name.

Edit: Seems like it's working for "en" as locale, but not for "de".

[2018-05-09 01:11] #7 closed, assigned to nobody

[2018-05-09 01:14] kipcole9 commented on #7
Thanks for the report.  The issue came down to the incorrect usage of pluralisation rules (Ordinal v Cardinal).  It is now correctly Cardinal.  I added some tests in "de" to verify.

I also observed that the pluralisation data for "de" units may not be complete but as a native German speaker I'm sure you can advise better than I can :-)

Published to hex as version 1.2.1.

[2018-05-09 06:51] LostKobrakai commented on #7
Thanks for the quick fix.

I checked this yesterday for the unit I was using and that one is complete :D

[2018-08-15 13:43] LostKobrakai opened #8 "Cldr.Unit.Conversion does not deal with decimal values"
As cldr is already requiring the decimal library, couldn't `Cldr.Unit` normalize to just using Decimal internally?

[code]

[2018-08-15 21:54] kipcole9 commented on #8
Yes, it should support Decimal since all the Cldr libs should be consistent in this respect.  Will add it to the weekend list to fix.

[2018-08-26 11:32] #8 closed, assigned to nobody

[2018-08-26 11:36] kipcole9 commented on #8
Fixed, sorry it took so long.  Published on hex as [version 1.2.2](https://hex.pm/packages/ex_cldr_units)

[2019-01-08 16:59] LostKobrakai commented on #8
Can we make cldr_unit use only decimals internally? ex_cldr does depend on decimal anyways and results like the ones below just aren't nice to work with. (this is on 1.3.0)

[code]

[2019-01-08 19:38] kipcole9 commented on #8
Actually its all decimal calculations for a `Unit` that is decimal-based.

But even using decimals, the current conversion strategy, which always has two steps: to a common unit, then to the desired unit, has issues. For example:
[code]
So two thoughts:

1. Add some additional direct conversion measures that are only a single calculation.  Ie capture that `seconds` to `minutes` is `60`.
2. Apply r

[2019-02-17 20:58] LostKobrakai commented on #8
@kipcole9 Maybe we can just flip the numbers from representing fractions of the smallest unit to be how many of the smallest unit fits into the current one: https://gist.github.com/LostKobrakai/4419bd3c245272e2fc04ef857c3e0f4a

[2019-02-24 12:51] kipcole9 commented on #4
I have [pushed a new release](https://github.com/kipcole9/cldr_units/releases/tag/v2.2.0) and [published version 2.2.0](https://hex.pm/packages/ex_cldr_units/2.2.0) which I believe addresses this issue. I'd welcome your feedback.  Its also clear that the strategy of embedding conversion factors in the source isn't a good idea.  In the next release I will convert the factors to `json` which can be

[2019-03-22 12:29] hl opened #10 "File "conversion_factors.json" missing on compile"
When setting up a new project with:

[code]

the compile steps fails with the following error:

[code]

I failed to see why the download mix task is not run and hope you can help.

[2019-03-22 21:12] kipcole9 commented on #10
@hl My apoiogies for the sloppy hex packaging which omitted the `./priv` directory.  Fixed now in [this commit](https://github.com/kipcole9/cldr_units/commit/3014190e9be2b48f2e372566a7114c4e9997bb41) and published on [hex as version 2.3.3](https://hex.pm/packages/ex_cldr_units/2.3.3).

Sorry for the inconvenience. If you:
[code]
You should be good to go.

[2019-03-22 22:42] hl commented on #10
@kipcole9 absolutely no apologies needed! I’m really appreciative of all your hard work.

Thank you for taking the time to look at this issue.

[2019-03-22 23:59] #10 closed, assigned to nobody

[2019-06-09 02:41] #4 closed, assigned to kipcole9

[2020-05-14 17:21] ghost opened #11 "Is there a way to get just the localised unit/metric?"
👋

Is there a way to get only the unit like `App.Cldr.Unit.to_string(:meter) # => "Meter"`?

[2020-05-14 21:24] kipcole9 commented on #11
Interesting idea - I'll look into it. It's not as straight forward as you might think since the underlying data is actually a series of templates. For example `{0} meter` and `{0} meters` for English singular and plural. And if it has an SI prefix its actually two templates that have to be merged: `milli {0}` and `{0} meter`. Its even more complicated when it's a compound unit like `cubic milliamp

[2020-05-15 07:57] ghost commented on #11
That's roughly what I'm doing right now, it's probably missing some edge-cases but seems to work for `de` and `en` locales for the time being:

[code]

I'm using units in table headers like `TEMPERATURE (DEGREE CELSIUS)` or `ENERGY (KILOWATT HOUR)` or `CO2 (PART PER MILLION)`. And I also have a place in the app where I want to style the unit and the numeric value differently so I'm splitting them

[2020-05-15 08:43] kipcole9 commented on #11
Ahhh, make sense, good use case.  What you actually have as headings there isn't the unit though - its the unit category ie `Temperature`.  I can certainly derived the unit category but I'm not sure there are translations for these in CLDR (I will check).

Would something like this work for you? I think this can be produced reasonably easily (will experiment on the weekend)

| Temperature  | Energ

[2020-05-15 10:19] ghost commented on #11
Oh, I didn't think of moving the unit into the table cells instead of the header. Yes, that would totally work.

[2020-05-15 10:24] kipcole9 commented on #11
Cool, I think that gives me a chance. Even if you have to use `Gettext` for translating the headings at least the units can work.

So basically my work this weekend is to find a better way to format complex units like `kilowatt hours`.

Anything else that would help this case?

[2020-05-15 10:26] kipcole9 commented on #11
I will also be working on an `Ecto` data type to store units with their unit types in Postgres this weekend. Don't know if thats helpful to you or not.

[2020-05-15 10:37] ghost commented on #11
Sorry, forgot to mention, yes, I'm translating the unit categories via gettext, and only use Cldr to get the units.

Not directly related, but maybe having a way to get the "splitted" unit would help with my second use-case where I want to style the value and the unit differently:

[code]
so that then I can put them in separate `<span>` tags.

[2020-05-15 10:45] kipcole9 commented on #11
Interesting challenge - I'll see what I can do :-)

[2020-05-15 13:42] ghost opened #12 "(FunctionClauseError) no function clause matching in Cldr.Unit.Parser.extract_base_unit/1"
👋

Version:
[code]

Seems like `extract_base_unit/1` doesn't expect composite units like `:kilowatt_hour` since they seem to have several `base_unit`s?

[code]

[2020-05-15 13:48] kipcole9 commented on #12
Use a string unit.  Atom units are assumed to be directly translatable (ie CLDR provides a translation for this unit). String units are compose of multiple units.  It should be more resilient than this for sure. Try this:
[code]
Note that under the covers there is an algorithm that orders base units in a canonical form so the output here I appreciate isn't exactly how you would say it in English a

[2020-05-15 13:50] kipcole9 commented on #12
`Cldr.Unit.known_units/0` will give you a list of the units that are directly translatable from CLDR data. All other units are composite and hence the translations are also composed from translatable sub components.

[2020-05-15 13:55] kipcole9 commented on #12
So now I have a few things to look at for the weekend (which I am fine to do)
1. Don't use canonical ordering for unit strings - use the original ordering. The requires a bit of work since I will need to keep the unit ordering in the state. And I'm not sure this works for all languages.  That is, is `kilowatt hour` expressed as `Kilowattstunde` in German? Can I assume the same word order in all la

[2020-05-15 14:03] kipcole9 commented on #12
Ohhhh, this is also a bug since `:kilowatt_hour` is directly translatable. I need to find out why its not being treated that way.

[2020-05-15 14:42] kipcole9 commented on #12
Fixed this bug [in this commit](https://github.com/elixir-cldr/cldr_units/commit/334fe9491afeb575a8375fc406ee5f9d2a7cf1e1) and published on hex as [ex_cldr_units version 3.0.1](https://hex.pm/packages/ex_cldr_units/3.0.1).

You should now be able to use `:kilowatt_hour` and `"kilowatt hour"` interchangeably.

The translations should now also be correct since this is a directly translatable unit:
[

[2020-05-15 14:42] #12 closed, assigned to nobody

[2020-05-15 14:42] ghost commented on #12
@kipcole9 Thank you!

[2020-05-16 09:41] kipcole9 commented on #11
I've push a couple of commits to master. Here's the changelog:

### Bug Fixes

* Add `Cldr.Unit.to_iolist/3` and `Cldr.Unit.to_iolist!/3` to return the formatted unit as an iolist rather than a string. This allows for formatting the number and the unit name differently. It also allows some efficiency in inserting formatted content into a Phoenix workflow since it handles iolists efficiently.

###

[2020-05-16 10:01] ghost commented on #11
@kipcole9 thank you!

Sure! I'm sorry I won't be able to test it today, but I will definitely do it tomorrow.

[2020-05-17 15:47] ghost commented on #11
@kipcole9 thank you! Works great!

[2020-05-17 21:25] kipcole9 commented on #11
I've published [ex_cldr_units version 3.1.0](https://hex.pm/packages/ex_cldr_units/3.1.0). Was a good exercise and the refactoring helps separate concerns too. Let me know if there is anything that would help you use case?

Closing now, thanks for the collaboration.

[2020-05-17 21:25] #11 closed, assigned to nobody

[2020-05-18 12:58] maennchen opened #13 "Dialyzer Error"
[code]

Version: `2.0.0`

[2020-05-18 13:05] maennchen commented on #13
Never mind, I thought I was on the latest version...

[2020-05-18 13:05] #13 closed, assigned to nobody

[2020-05-18 16:39] kipcole9 commented on #13
Phew. With your prompting I am much more diligent now in incorporating dialyzer into the release process and was a bit horrified to see the issue :-)

[2020-08-12 09:23] maennchen opened #15 "Wrong Dialyzer Typing"
## Working Code

[code]

## Dialyzer Error

[code]

[2020-08-12 10:04] kipcole9 commented on #15
Hmm, surprising and disappointing that I still have a dialyzer error since I check it on each release.

I won’t be able to do anything about it for 48 hour I’m afraid but will fix it right away after that.

As always, thanks for the report.

Sent from my iPhone

[2020-08-12 10:58] maennchen commented on #15
I think there's different ways to call it, maybe it was just never called this way...?

I'm not in a hurry with that problem, so take your time :)

[2020-08-12 11:02] kipcole9 commented on #15
It’s now a matter of pride.  I want one release that passes the Jonathan männchen dialyzer test 😀

Sent from my iPhone

[2020-08-12 11:05] maennchen commented on #15
It's not only cldr, Phoenix Router also always generates warnings :P

[2020-08-29 02:18] #15 closed, assigned to nobody

[2020-08-29 02:20] kipcole9 commented on #15
Fixed (I believe - I added a call of this type to a function that is checked by dialyzer in development).
Also fixed the bug whereby `Decimal` types weren't supported on `to_string/3`. Therefore you should now be able to:
[code]
Published to hex as [Cldr Units version 3.1.2](https://hex.pm/packages/ex_cldr_units/3.1.2). Standing by to any updates if the warning persists......

[2021-01-14 09:00] DamienFriot opened #16 "Readme typo in a convert example"
Thanks for your library!

An example in the Readme has apparently a typo: MyApp.Cldr.Unit.convert MyApp.Cldr.Unit.new(:foot, 3), :meter
To make it work, I have to use new!

[2021-01-14 09:06] DamienFriot opened #17 ":duration category -> conversion of :year to :weeks/:days not working"
Hi,

While :week and :day are compatible units, this is not the case for :year (but it is compatible with month).

Is it on purpose?

Thanks in advance for your answer.

[2021-01-14 09:12] DamienFriot opened #18 "extending unit categories and units for domain specific units"
Hi,

We have a few specific categories and units in my domain (environmental footprints), e.g. transportation in person.km (person x km) or infrastructure in unit (for example for a building unit).

What would be the preferred way to extend the library with additional categories and units?

Thank you in advance for your answer.

[2021-01-14 09:21] kipcole9 commented on #17
Yes, its by design in [CLDR](https://cldr.unicode.org).  Convertability is based upon units that have a common `base unit`.  And not all time elements have the same base unit. For example:

[code]

You can see that `:day`: and `:week` are defined in terms of `:second`.  `:year` and `:month` are defined in terms of `:year`.

The reason for that is, as I'm sure you understand, that years and months

[2021-01-14 09:28] kipcole9 commented on #18
First of all, thanks for finding the library useful - its one of my favourites. And the way that the CLDR team have built the data it lets you work with all sorts of crazy compound units like:
[code]
Developing the code for this kind of generalised unit was a lot of fun and really tricky. But ... at the moment its not extensible. The good news is that the underlying data model isn't too complicate

[2021-01-14 09:30] #16 closed, assigned to nobody

[2021-01-14 09:30] kipcole9 commented on #16
Thanks for the report. Fixed in master and I'll publish when I update for the feature request you have in issue #18.

The changelog entry is:

### Bug Fixes

* Fix readme example for `MyApp.Cldr.Unit.convert/2`.  Thanks to @DamienFF. Closes #16.

* Add missing `<backend>.convert!/2`

[2021-01-14 10:25] kipcole9 commented on #18
BTW, if you are curious about the underlying raw data, you can execute `Cldr.Config.units/0`.

[2021-01-14 13:27] DamienFriot commented on #18
Thanks a lot for your answer!
Defining units at compile time would be perfect.
I am not in a hurry so I can wait or a few weeks before any update without any problems.

Two main base units -> compound units are of interest for a Transportation category:
- person -> person kilometer (pkm)
- vehicle -> vehicle-kilometer (vkm)

In addition for an "Unspecified" category, e.g. infrastructure, the base

[2021-01-14 13:35] DamienFriot commented on #17
Thanks for your answer.
I will look at ex_cldr_dates_times and come back to you if needed but I think this will ok.
Sorry for bothering you with that.

[2021-02-02 17:22] kipcole9 commented on #18
Not forgotten, have been working on a bunch of different experiments and I have a good path forward now. Expecting to complete the next version over this coming weekend.

[2021-02-02 17:22] kipcole9 commented on #17
Will close this issue now since the code is working as expected - even if not as hoped for.

[2021-02-02 17:22] #17 closed, assigned to nobody

[2021-02-04 14:58] coladarci opened #19 "[Question] List units by category?"
Hey Kip! We're excited to dive into another one of your libraries - is it not possible to simply list all units by category? i.e if I wanted to list all value `volume` units, I'm not seeing a way to do this. Am I missing something?

Thanks!

[2021-02-04 23:44] kipcole9 commented on #19
@coladarci Glad you're taking it for a spin. Its maybe my favourite because of the very flexible approach the CLDR team has taken.

Can definitely do as you ask, I'll need to add it in. The is a caveat to be understood.

Units can be composed. For example:
[code]
Since this is valid but derived unit, I can never return it as a value for a given category.

The compromise I make is that categories,

[2021-02-05 03:34] coladarci commented on #19
Yes! We are making very simple wrappers around these, identical to how you did Money. The two we are making are Volume and Weight; just want to be able to get a list of possible values for UI purposes. No rush, no big deal, pumped with the library 🙌🏻🚀🚀💎💎

[2021-02-05 15:51] kipcole9 commented on #19
As of [this commit](https://github.com/elixir-cldr/cldr_units/commit/313eeccfb3ecb84457a34b1d6a41032b8d57e09b) the basic functions to support retrieving units by category exist.

In addition, I added the long-overdue function `Cldr.Unit.measurement_system_from_locale/1` that returns the measurement system (metric, UK, US) applicable to the specified locale.

Next steps this weekend are:

1. Add a

[2021-02-05 15:53] kipcole9 commented on #18
I expect to have release 3.4.0 out this weekend with custom unit support and some additional changes related to #19

[2021-02-05 20:22] dhedlund commented on #19
@kipcole9 There's a typo in one of the function definitions that you might want to address before releasing this.  The readme also has the same typo.
https://github.com/elixir-cldr/cldr_units/commit/313eeccfb3ecb84457a34b1d6a41032b8d57e09b#diff-662130a1c7f523fbc1a14b20281561e71fe5c822fa72e341da485851e97657a9R1275

[2021-02-06 03:35] kipcole9 commented on #19
As of [this commit](https://github.com/elixir-cldr/cldr_units/commit/635ee1de63aa8e52a0c33978af14eef2d05c9818), the basic functionality you're after is in place. The function that does the localisation is `Cldr.Unit.display_name/1`.

### Examples

[code]

### Open Items

* Support an option to expand SI prefixes for metric units?
* Is the API acceptable?  Reasonable?
* Any other suggestions?

[2021-02-06 23:59] kipcole9 commented on #19
As of [this commit](https://github.com/elixir-cldr/cldr_units/commit/fe4960461839800d801170b0b0611c420aabb913), measurement systems are resolved for all units returned by `Cldr.Unit.known_units/0` as well as binary composable units.

Feedback is welcome, otherwise I think the requirements of your original request are now met by:

* `Cldr.Unit.display_name/2`
* `Cldr.Unit.known_units_by_category/0`

[2021-02-07 03:25] kipcole9 commented on #19
As of [this commit](https://github.com/elixir-cldr/cldr_html/commit/c5fb870d052d73e1a4583244a3a4f1eeb2e0f9c2), [cldr_html](https:github.com/elixir-cldr/cldr_html) adds the `Cldr.HTML.Unit.select/3` function to aid in Phoenix form creation.

For example:
[code]
Still some additional tests and some dialyzer noise to quieten but otherwise in good shape.

[2021-02-07 06:45] kipcole9 commented on #18
Good [progress today](https://github.com/elixir-cldr/cldr_units/commit/ca693c27b868302efbe736ca7d1cf283f94cf42c). Customer units can be defined, even supporting SI prefixes and square/cube - not that I suspect that is important to you.

### Examples
[code]

### Configuration

Since units are defined at compile time, so custom units are defined.  Here is an example from the repo's `dev.exs` configu

[2021-02-08 09:51] kipcole9 commented on #18
As of [this commit](https://github.com/elixir-cldr/cldr_units/commit/d702f13566f2d8c353afebad7279611749b1bcf9), custom units can now be localised. I need to write some tests and docs before release of this and the work in #19.  Comments, suggestions are very welcome.

### Configuration

The units themselves are configured as per the previous comment, in `config.exs`. Localisations are contained in

[2021-02-08 22:43] kipcole9 commented on #19
I have published [ex_cldr_units version 3.4.0-rc.0](https://hex.pm/packages/ex_cldr_units/3.4.0-rc.0) and would welcome any feedback or suggestions.  The changelog entry is:

### Bug Fixes

* Fix readme example for `MyApp.Cldr.Unit.convert/2`.  Thanks to @DamienFF. Closes #16.

* Add missing `<backend>.convert!/2`

### Enhancements

* Supports the definition of custom units in `config.exs`. Units

[2021-02-08 22:43] kipcole9 commented on #18
I have published [ex_cldr_units version 3.4.0-rc.0](https://hex.pm/packages/ex_cldr_units/3.4.0-rc.0) and would welcome any feedback or suggestions.  The changelog entry is:

### Bug Fixes

* Fix readme example for `MyApp.Cldr.Unit.convert/2`.  Thanks to @DamienFF. Closes #16.

* Add missing `<backend>.convert!/2`

### Enhancements

* Supports the definition of custom units in `config.exs`. Units

[2021-02-09 22:25] #18 closed, assigned to nobody

[2021-02-09 22:25] #19 closed, assigned to nobody

[2021-04-06 15:21] jarrodmoldrich opened #20 "Localization fails when locale features patterns have no number substitution"
Hello @kipcole9 ,

Firstly, thanks for your work on this library, it's much appreciated.

I noticed that localizing an hour unit, or 2 hours, to either "he" or "ar" would result in an error.  3 hours will succeed.

[code]

Looking at the cldr data, there appears to be no substitution for the number:

[code]

Yet I'm not seeing a function signature that would match such an input:

[code]

A naive s

[2021-04-06 17:32] kipcole9 commented on #20
@jarrodmoldrich, thanks for the detailed report and sorry for the inconvenience - thats a lot of code-diving you did.  I suspect you are right and my very simple substitution code doesn't cater for circumstances where there is no substitution. If thats the case then its quite a simple update. I will work on this over the next 12 hours and revert - hopefully with a new release.

[2021-04-07 00:12] jarrodmoldrich commented on #20
Awesome, thank you, that's a fast turn-around.  Did you have any thoughts about handling negative units?

Here's a snippet from the Cldr documentation (emphasis added):

https://unicode-org.github.io/cldr/ldml/tr35-general.html#Unit_Elements

My best guess is that you use the `other` variant if the value doesn't match that of the explicit pattern, such that `-1` doesn't match `"one"`.  Though we c

[2021-04-07 00:37] kipcole9 commented on #20
I have published [ex_cldr version 2.19.1](https://hex.pm/packages/ex_cldr/2.19.1) and [ex_cldr version 2.20.0-rc.3](https://hex.pm/packages/ex_cldr/2.20.0-rc.3) that fixes the substitution bug you reported (thanks again for the report and the code for the fix which I used).

As the treatment of negative numbers in the case where the template does not have any substitutions. I believe there are two

[2021-04-07 00:40] kipcole9 commented on #20
Plural rules does, as you suggest, use `:other` if there is no matching plural rule.

Thanks for the excerpt from my old friend TR35. Let me think on how best to approach what that paragraph suggests.  The reference implementation is either the ICU code; either the `C` or `Java` versions. I haven't dived into that code though.

[2021-04-07 01:22] jarrodmoldrich commented on #20
Thanks again @kipcole9 .  Really appreciate how quick you've moved on this.

As for my use case, I need to display the magnitude of a time change.  Which could be forward or backwards an hour, 20 minutes, etc.  The `Cldr.DateTime.Relative` formatting wasn't appropriate here, and also I'm unable to get `Cldr.Calendar.Duration` to work with negative values:

[code]

[2021-04-07 01:58] kipcole9 commented on #20
@jarrodmoldrich, thanks for sticking with me on this!  I think my time is probably better invested in improving the duration code to cater for times and not just dates.

Would you mind letting me know where the formatting for `Cldr.DateTime.Relative` doesn't meet your requirements too?

I should be able to complete an update to duration calculations (and formatting) by the end of the weekend - is

[2021-04-07 02:09] kipcole9 commented on #20
BTW, I don't know if the Hebrew calendar is a part of your requirements but I will eventually get to implementing it. First I need to finish up lunar calculations in my [astro](https://hex.pm/packages/astro). And then the calendar code. Its a very complex calendar so Its not high on my priority list - unless there is unfulfilled demand and I can change priorities.

[2021-04-07 02:25] jarrodmoldrich commented on #20
That time frame is perfectly fine for me, but don't feel like you need to rush.  Bears repeating: I'm very appreciative of your time, and if you wish to delegate work to me, I'm happy to help also.

I'm currently only supporting Gregorian atm, so I won't compel you to implement the Hebrew calendar.  Though when it is done, I'll probably use it.

It's possible there's some formatting options to `Re

[2021-04-07 02:55] kipcole9 commented on #20
Thanks @jarrodmoldrich, thats clear.  Definitely `Cldr.DateTime.Duration` feels like the right place for that if there is no way to do it using the units rules (still need to review that again after your citation).  I'll leave this issue open for now.

[2021-04-07 07:13] kipcole9 commented on #20
Since I don't speak Hebrew, may I ask you if any of the entries here would be grammatically correct for `-1`?
[code]

[2021-04-07 09:17] kipcole9 commented on #20
Now I have some good news, and some less good news.

### Good news

I fixed the bug that prevented creating `Time`-based intervals. A new version has been [published to hex.pm](https://hex.pm/packages/ex_cldr_calendars/1.12.1). So now:
[code]

### The less good news

1. I don't currently support "negative" durations. I've put it on the to-do list.
2. In any case, formatting of durations delegates

[2021-04-07 12:15] jarrodmoldrich commented on #20
Sorry for the late reply, but I was AFK.  I know this isn't very scientific, but the result of google translate matches with `"unitPattern-count-other"`.  It's in a different order, but I assume unicode bidi characters would correct this.

![image](https://user-images.githubusercontent.com/920769/113864904-ce0e8200-97ee-11eb-9f5e-aa3459881dfa.png)

I find it strange, but I'm already able to make t

[2021-04-07 12:55] kipcole9 commented on #20
Thanks much.  I also fixed the `Duration.new/2` bug and published [release 1.12.1](https://hex.pm/packages/ex_cldr_calendars/1.12.1) on the current production branch so perhaps you have picked that up.

Working on a proper resolution now. Thanks for your patience.

[2021-04-08 05:49] jarrodmoldrich commented on #20
Hi @kipcole9 , thanks for all those updates.  ~I set all my deps to latest, but now I'm seeing this error for several/maybe all locales:~  Never mind, I force downloaded the locales and everything is sweet.

[2021-04-08 07:26] kipcole9 commented on #20
Thats very strange - new locale files should automatically download whenever a new release is configured. I've only seen this issue when locales are kept as part of some CI/CD caching. Is that perhaps the case here?

[2021-04-08 07:27] jarrodmoldrich commented on #20
It is strange.  This is my local build, and I haven't explicitly set up any caching.

[2021-04-08 07:31] kipcole9 commented on #20
Thanks for the feedback, I'll think on this some more. None of the code related to downloading was touched at all although the locale files have definitely changed and for this version they do indeed include a `:locale_display_names` key (currently unused, they will be used in a new library in the family soon).

[2021-04-10 15:26] #20 closed, assigned to nobody

[2021-04-10 15:33] kipcole9 commented on #20
I have pushed a [commit](https://github.com/elixir-cldr/cldr_units/commit/dedd55478ff15939c3bb93fc8fea1585ab407c4b) to resolve this issue according to the except of [TR35](https://unicode-org.github.io/cldr/ldml/tr35-general.html#Unit_Elements) you referenced. Would you consider testing your app with this version, directly from GitHub? In your `mix.exs`:
[code]
If so, I will await your feedback be

[2021-04-11 03:00] jarrodmoldrich commented on #20
@kipcole9 That works great, thank you.  It seems that you could have kept the explicit words for `:zero`, `:one`, and `:two` for positive integers, and just use `:other` for -1, -2, but I trust you've taken the better path here with your collaboration with @voltone and hopefully it generalizes to `ar`.

A couple of small feature request would be to allow out of order durations, and also to permit

[2021-04-11 03:33] kipcole9 commented on #20
@jarrodmoldrich, the code path still uses `:zero`, `:one` and `:two` plural categories but only if the number matches. My tests are passing but in this area are not exhaustive Are you seeing unexpected results? TR35 does seem to suggest should only use used for "languages like hebrew and arabic" but i'm still not certain of the boundary conditions. I will add some tests for `ar` to confirm.

Will

[2021-04-11 03:50] kipcole9 commented on #20
This is what I see with the current `master` and I *think* it matches the spec. Do let me know if you are seeing results which are not expected.

[code]

[2021-04-11 03:52] jarrodmoldrich commented on #20
Ah yes, you have implemented it this way, I misunderstood what you said.  I've verified this behaviour is reflecting on my build.

[2021-04-11 03:54] kipcole9 commented on #20
Ah, good to hear, thanks much. For any future curious people the relevant code is at https://github.com/elixir-cldr/cldr_units/blob/master/lib/cldr/unit/format.ex#L641-L676

I will add some more tests and publish this in the next 12 hours or so.

[2021-04-12 09:43] ghost opened #21 "No format pattern was found for unit ... with grammatical case :nominative, gender :neuter and plural type :one"
👋

I've just upgraded to the latest ExCLDR versions, and got the following error in one of the tests (which checks that all measurements used in the app can be "rendered"):

[code]

Without `:style` option it works as expected:

[code]

I wonder if maybe `:style` has been replaced with some other option?

Versions:

[code]

Thank you!

[2021-04-12 09:48] kipcole9 commented on #21
Thanks for the report and sorry for the inconvenience. I've just tried on master branch and it seems ok. Can you let me know what locale you are operating in? Perhaps that makes a difference since not all locales have all data for units yet (its a CLDR work in progress).

The error indicates that `ex_cldr_units` couldn't find a unit pattern for
[code]

[2021-04-12 09:49] ghost commented on #21
Ah, right, sorry, forgot to mention that the default locale is set to `de`.

[code]

[2021-04-12 09:49] kipcole9 commented on #21
Ahhhh, I suspect you are in the "de" locale given it refers to the `:neuter` gender. And only locales "de" and "fr" currently have grammatical features in them.

[2021-04-12 09:50] kipcole9 commented on #21
Confirmed and can reproduce. I will explore further what I can do to mitigate the data gap. Should be able to resolve during your day and I'll publish an update when done.

[2021-04-12 09:52] ghost commented on #21
Thank you!

[2021-04-12 10:13] #21 closed, assigned to nobody

[2021-04-12 10:16] kipcole9 commented on #21
I have published [ex_cldr_units 3.5.2](https://hex.pm/packages/ex_cldr_units/3.5.2) that fixes the error with [this commit](https://github.com/elixir-cldr/cldr_units/commit/a9111ffd6cdbe80caac0532f8c1ac8712b9be891).  The changelog entry is:

#### Bug Fixes

* Fix getting a unit pattern when the unit value is zero, one or two and there is no pattern for the default unit plural category. Thanks to @

[2021-05-20 09:06] maennchen opened #22 "No default :ex_cldr backend is configured"
## Issue

When using `MyApp.Cldr.Unit.to_string!(7.3, unit: :kilogram)`, the following error is raised.

[code]

I've tried to use different notations and always get the same result:

[code]

## Versions

[code]

[2021-05-20 11:46] #22 closed, assigned to nobody

[2021-05-20 11:53] maennchen commented on #22
Thanks @kipcole9 :heart:

[2021-05-20 12:01] kipcole9 commented on #22
Thanks for the report, that was quite sloppy of me. The fix requires an update to both [ex_cldr version 2.22.1](https://hex.pm/packages/ex_cldr/2.22.1) and [ex_cldr_units version 3.5.3](https://hex.pm/packages/ex_cldr_units/3.5.3).

The changelog entries are:

### Ex_cldr Bug Fixes

* `Cldr.Number.PluralRule.plural_type/2` correcly returns a plural type when no backend is provided, no default back

[2021-08-31 08:48] maennchen opened #23 "Number Spellout Wrong"
## Steps to reproduce

[code]

## Expected

`ein Jahr`

## Actual

`eins Jahr`

## Versions

[code]

[2021-08-31 14:01] kipcole9 commented on #23
Unfortunately there is no data in CLDR to identify the gender of nouns (and I'm sure its out of scope given the magnitude of that task!). However it does provide gender-specific rules in rules based formatting (which is what is used to format spelling amongst other things).

### Spellout formatting for nouns of different gender

If you know in advance the gender of the noun, you can apply it durin

[2021-08-31 14:06] maennchen commented on #23
@kipcole9 I assumed that gender would be a problem. This is only a nice to have for me and not really a requirement.

Thanks for looking into it :heart:

Should I close the issue or would you like to keep it open until CLDR40 is around?

[2021-08-31 14:11] kipcole9 commented on #23
I'll close the issue since whatever CLDR40 data can allow I will implement.   Hopefully you've got enough tooling in `ex_cldr` to at least produce grammatically correct results in this situation.

[2021-08-31 14:11] #23 closed, assigned to nobody

[2021-12-25 14:06] DaTrader opened #24 "A :duration vs :year_duration inconsistency"
There's an inconsistency between the known unit categories and the unit category I get for a duration in years as show below:

[code]
If this is returning :year_duration is the desired behavior here, how do I get to know all possible return values for my duration units so I can match against them?

[2021-12-25 20:23] kipcole9 commented on #24
This one is a little trickier, definitely a corner case.  Will take a few hours to resolve properly.

[2021-12-25 22:25] #24 closed, assigned to nobody

[2021-12-25 22:34] kipcole9 commented on #24
Fixed on master. Following on from the [discussion on ex_cldr_calendars](https://github.com/elixir-cldr/cldr_calendars/issues/11), here is my recommendation on formatting days, weeks and quarters:

### Days and Weeks (and Months, Years, Decades and Centuries)
These are all built-in units so no special handling is required.
[code]

### Quarters
The unit `quarter` is not defined by CLDR but I have o

[2021-12-26 05:30] kipcole9 commented on #24
I have published [ex_cldr_units version 3.9.2](https://hex.pm/packages/ex_cldr_units/3.9.2) which includes the fix for this issue.

[2021-12-26 07:37] DaTrader commented on #24
Great!

[2021-12-26 08:01] DaTrader commented on #24
Kip,

there's another practical concern I have regarding the narrow Cldr.Unit formats: they can and they do overlap sometimes when parsing and thus we come to another inconsistency i.e. the inability to do a roundtrip such as: unit -> to_string -> parse string -> unit.

I am talking about weeks here e.g. the string output for #Cldr.Unit< :week, 3> is "3w" which is correct, but it requires "3wk" to

[2021-12-26 08:13] kipcole9 commented on #24
More like 25c I think :-) :-)

I don't think round-trip is necessarily a CLDR design goal, but I think what you ask is possible without compatibility issues. Will think on how best to do this and revert.

[2021-12-26 08:21] DaTrader commented on #24
You may be right. I should account for the central bank induced inflation. 25c it is then :)

[2021-12-26 09:08] DaTrader commented on #24
Another thing, what do you suggest how to go about encoding/decoding the units?
Make my own Ecto.Type or simply encode them as JSON arrays of two?
Any library already available for this?

[2021-12-26 09:53] kipcole9 commented on #24
[ex_cldr_units_sql](https://hex.pm/packages/ex_cldr_units_sql) should do the trick.

[2021-12-26 10:06] DaTrader commented on #24
Thanks. Maybe it'd be useful to have this library added to the list on the main ex_cldr documentation page?

[2021-12-26 10:08] DaTrader commented on #24
Ah, I now see you it in the bottom of the ex_cldr_units page. My bad.

[2021-12-26 23:29] kipcole9 commented on #24
I have published [ex_cldr_units version 3.10.0](https://hex.pm/packages/ex_cldr_units/3.10.0) with the following changelog entry.  You can see some examples of the `:only` and `:except` usage in the [tests](https://github.com/elixir-cldr/cldr_units/blob/master/test/unit_parse_test.exs) and the documentation for `Cldr.Unit.parse/2`.

### Bug Fixes

* Further refinement to `Cldr.Unit.unit_category/1

[2021-12-27 08:36] DaTrader commented on #24
Yes!!! Thanks!

[2021-12-31 08:59] DaTrader commented on #24
Kip,

just to let you know that upgrading ex_units from 3.9.2 to 3.10.0 results in the following:

[code]

Minutes should be probably left as min, and not m :)

My 25c (the inflation!),

Damir

[2021-12-31 19:23] kipcole9 commented on #24
hmmm, tricky. in the CLDR data both minute and month have a "narrow" string of `m`.  And I really don't want to "special case" the data - that's like to be unmaintainable and also drive me mad. Other than saying to the user "keep typing ..." I'm not sure what else to do.

[2022-01-01 10:43] DaTrader commented on #24
First, Happy New Year, Kip!

In that case, the only reasonable option IMO is to allow for expanding on the hint specification i.e.:

`Cldr.Unit.parse( "52m", only: [ :day, :week, :month, :year])
`
This would be my parsing case here for I am only interested in the day+ durations. Also worth noting that in this particular case I don't even support the :quarter duration for a reason (unlike in report

[2022-01-05 07:20] kipcole9 commented on #24
Will add this over the next couple of days, sorry for the delay. I want to provide an option for compile-time validation of the units/categories as well as the current runtime variety.

[2022-01-05 15:43] DaTrader commented on #24
No biggie. I am still on 3.9.2 and there it works with just "m" for months.

[2022-01-05 21:33] kipcole9 commented on #24
I have published [ex_cldr_units version 3.11.0](https://hex.pm/packages/ex_cldr_units/3.11.0) with the following changelog:

### Bug Fixes

* Fix canonical base unit calculation when the unit is a `per per` form like `candela per lux`.

### Enhancements

* Add unit filters for `Cldr.Unit.parse/2`.  This means that the options `:only` and `:except` can comprise both unit categories and unit names a

[2022-01-05 21:36] kipcole9 commented on #24
Its listed [here](https://hexdocs.pm/ex_cldr/readme.html#additional-cldr-packages), is there some other place you think it should be listed?

[2022-01-06 12:32] DaTrader commented on #24
No, it's ok. I saw it later in the bottom of the ex_cldr_units page.

[2022-01-10 00:50] hassan opened #25 "404 on doc link"
Clicking the src (</>) link on this page https://hexdocs.pm/ex_cldr_units/Cldr.Unit.Conversion.html#convert/2
-> https://github.com/elixir-cldr/cldr_units/blob/v3.11.0/lib/cldr/unit/conversion.ex#L133 is 404

Other links on that page seem to have the same problem.

[2022-01-10 01:44] kipcole9 commented on #25
@hassan Thanks for the report and sorry for the inconvenience. I had neglected to tag the release - which I have now done.  The source links should now work correctly.

[2022-01-10 01:44] #25 closed, assigned to nobody

[2022-01-10 02:10] hassan commented on #25
Fix confirmed, and thank you for all your work on this great library!

[2022-02-21 10:00] maennchen opened #26 "Compilation Warning"
## Warning

[code]

## Deps Versions

[code]

[2022-02-22 16:30] narrowtux opened #27 "Energy units have inconsistent base units"
When trying to convert joules into kWh, I get this error message:

[code]

This is because `Cldr.Unit.BaseUnit.canonical_base_unit` returns different strings for both of these:

[code]

For Joule, it returns `kg*m^2/s^s`, and for kWh, it returns `kg*m^2*s/s^3`. Both are mathematically equal but not as strings, obviously.

I'm not sure if this is an intended feature of the CLDR spec, but it seems v

[2022-02-22 16:39] narrowtux commented on #27
I've gone ahead and checked this for all the categories:

[code]

For some categories, this makes sense, but I don't think this is true for every one with more than one base unit.

[2022-02-22 18:02] kipcole9 commented on #27
@[narrowtux](https://github.com/narrowtux), thanks for the report.  The units library has given me the most joy of the whole "family" (numbers comes a close second). But equally the most head spins as well.

Thanks too for diving in to the code, there is a lot going on and at this point you're probably doubting my sanity (and maybe yours).

Definitely a bug on my part. If you look at the two units

[2022-02-22 20:00] narrowtux commented on #27
Thanks, I appreciate the rambling :)

[2022-02-23 03:16] kipcole9 commented on #27
As of [commit f387156]( https://github.com/elixir-cldr/cldr_units/commit/f3871560c9a1465036ab4ad33323d0aa071d1ecd) the base units derivation now reduces common factors and the conversion between joule and kilowatt hour appears to be working:
[code]
However there are now failing a few tests so it's not ready for release yet. Nevertheless, if you're inclined to try:
[code]
in `mix.exs` should do the

[2022-02-23 03:17] kipcole9 commented on #26
Working on a resolution, will be resolved in the next day.

[2022-02-23 03:35] kipcole9 commented on #26
Published [ex_cldr_units version 3.12.1](https://hex.pm/packages/ex_cldr_units/3.12.1) to fix the issue by adding the `xref` option to `mix.exs`.  The changelog entry is:

### Bug Fixes

* Remove compilation warning for `Phoenix.HTML.Safe` that was emitted since the `:phoenix_html` library is not a dependency. Thanks for @maennchen for the report. Fixes #26.

[2022-02-23 03:35] #26 closed, assigned to nobody

[2022-02-23 09:26] narrowtux commented on #27
Thanks for looking at it so quickly! It works for me.

[2022-02-27 10:03] kipcole9 commented on #27
I have published [ex_cldr_units version 3.12.2](https::/hex.pm/packages/ex_cldr_units/3.12.2) that addresses the specific issue raised here. The fix allows for the conversion of units where their base units (in string form) don't match but the units themselves are in the same unit category.

The case of converting `joule` to `kilowatt hour` fits the case since their base units are different at the

[2022-02-27 10:04] #27 closed, assigned to nobody

[2022-10-05 23:48] Awlexus opened #30 "Parse unit without value"
I'm trying to parse some user input where the user can only enter the unit without a value, but I couldn't found a function that - similar to `Cldr.Unit.parse/2` - also considers aliases and other forms, like "kg" for "kilogram". Is there I function I might have overlooked? I've tried the following functions, but so far had to settle for `Cldr.Unit.parse("1" <> "user_input")` to get the unit
* `Cl

[2022-10-06 00:23] kipcole9 commented on #30
@Awlexus thanks for the report, and for finding value in the library. Its probably my favourite of the `ex_cldr` family :-)

Very reasonable request. I think to differentiate it I will call is something like `parse_unit_name/2` to make it clear the result is a name, not a unit struct.

I'm definitely open to a PR but I also know some of this code is quite difficult to understand because of how it

[2022-10-06 01:01] Awlexus commented on #30
Thanks for the fast reply! `parse_unit_name/2` sounds good.

I've already taken a look how `Cldr.Unit.parse/2` is implemented and I think it will be straightforward to derive a function that will only parse the unit name from that, so i'll give it a try tomorrow 👍

[2022-10-08 01:37] kipcole9 commented on #30
I've published [ex_cldr_units version 3.14.0](https://hex.pm/packages/ex_cldr_units/3.14.0) with the following changelog entry:

### Enhancements

* Add `Cldr.Unit.parse_unit_name/2` to parse a string as unit name. Also adds `MyApp.Cldr.parse_unit_name/2` as well as the `!` versions of these functions.  Thanks to @Awlexus for the PR. Closes #31.

Thanks for the PR and the collaboration!

[2022-10-08 01:37] #30 closed, assigned to nobody